/node_modules
/.next/
/build
/out
/import
toSkip
toDelete


.DS_Store
npm-debug.log*
.env*.local
next-env.d.ts

# Local Netlify folder
.netlify
.env
*.cache

data/lemmy-stats.json
data/discord-stats.json
